@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    z-index: 1000;
}
.menu-icons{
    width: 40px;
    cursor: pointer;
}
.logo{
    width: 100px;
    margin-left: -10%;
}
button img{
    width: 20px;
    margin-left: 10px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
    margin-left: 25px;
}
.menu ul a{
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    position: relative;
}
.menu ul a::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #f70000;
    transition: 0.1s ease-out;
    content: "";
}
.menu ul a:hover::after {
    width: 100%;
}
.header-end{
    display: flex;
    align-items: center;
}
.header-end i {
    margin-right: 20px;
}
button{
    cursor: pointer;
    border: none;
    align-items: center;
    padding: 8px 12px;
    background-color: #f71000;
    color: #fff;
    text-transform: uppercase;
    border-radius : 50px;
    z-index: 1;
    transition: 0.2s ease-out;
}
button span{
    font-family: "Anton", sans-serif;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
button:hover{
    background-color: #000;
}
.fa-crown{
    position:relative;
    padding: 20px;
}
.login{
    position: absolute;
    right: -22px;
    top : 60px;
    width: 270px;
    padding: 20px;
    display : none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 02);
    border-radius: 6px;
}
.login button{
    width: 100%;
    background-color: #f71000;
}
hr{
    width: 100%;
    margin: 10px 0;
    border: 0.5px solid #ccc;
}
.login p{
    font-size: 14px;
    color: #1f1e1e;
    margin-bottom: 10px;
} 
.login button:last-child{
    background-color:transparent;
    color: #f70000;
    border: 1px solid #f70000;
}
.login::after{
    content: "";
    position: absolute;
    top: -8px;
    right: 25px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    transform: rotate(50deg);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: -3;
}
.login::before{
    content: "";
    position: absolute;
    top: -8px;
    right: 25px;
    width: 25px;
    height: 28px;
    transform: rotate(50deg);
    background-color: #ffffff;

   
}
.fa-crown:hover  .login{
    display: block;
}
.home{
    height:100vh;
    width: 100%;
    background: url("images/Red White Orange Modern Minimalist Fast-food Promotion Banner.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 80px;
    padding : 20px;
    background-position: center;
}
.foods{
    width: 100%;
    padding : 0 10%;
    margin: 50px 0;
}
.foods h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    color: #f70000;
}
.souligner {
  text-decoration: underline;
  color: #f70000;
}
.footer li{
    display: inline-block;
    margin-right: 15px;
}
.body{
    padding-top: 80px;
}
.contact-form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #fd0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #0056b3;
}
